@page "/"
@inject KanbanStore Store

@if(columns != null)
{
    <div class="d-flex vh-100">
        <div class="flex-grow-1 d-flex flex-column">
            <div class="p-2 border-bottom bg-primary text-white">
                <h3>Default Board</h3>
            </div>
            <div class="p-4 flex-grow-1 d-flex">
                @foreach (var column in columns)
                {
                    <ColumnComponent Name="@column.Name">
                        @foreach (var card in cards.Where(x => x.ColumnId == column.Id))
                        {                            
                            <CardComponent Text="@card.Text" />                      
                        }
                    </ColumnComponent>
                        
                }
            </div>
        </div>
    </div>  
}

@code {

    List<Column> columns;
    List<Card> cards;

    protected override async Task OnInitializedAsync(){

        columns = Store.GetBoard();
        cards = Store.GetCards();
    }

}}