@page "/exercises/githubnews"

<section class="container">

    <p>For you (beta)</p>

    <h4>Trending Repositories</h4>
    <section>
        <Card 
            Title="jonhilton/practicalBlazorComponents" 
            Description="A new online, interactive workshop!"
            LanguageType="C#, JavaScript"
        />
        <Card 
            Title="AdrienTorris/awesome-blazor" 
            Description="Resources for Blazor, a .NET web framework using 
                                 C#/Razor and HTML that runs in the browser with WebAssembly."
            LanguageType="C#"
        />
        <Card 
            Title="microsoft/dotnet" 
            Description="This repo is the official home of .NET on GitHub. 
                                 It's a great starting point to find many .NET OSS projects from Microsoft 
                                 and the community, including many that are part of the .NET Foundation."
            LanguageType="C#"
        />
    </section>
</section>